<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>html.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDriverServlet</servlet-name>
        <servlet-class>html.CreateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTrainingServlet</servlet-name>
        <servlet-class>html.CreateTrainingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQualificationServlet</servlet-name>
        <servlet-class>html.CreateQualificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateIncidentServlet</servlet-name>
        <servlet-class>html.CreateIncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDriverServlet</servlet-name>
        <servlet-class>html.EditDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQualificationServlet</servlet-name>
        <servlet-class>html.EditQualificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTrainingServlet</servlet-name>
        <servlet-class>html.EditTrainingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <servlet-class>html.DeleteDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTrainingServlet</servlet-name>
        <servlet-class>html.DeleteTrainingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQualificationServlet</servlet-name>
        <servlet-class>html.DeleteQualificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDriverServlet</servlet-name>
        <servlet-class>html.SearchDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelExpirationServlet</servlet-name>
        <servlet-class>html.PanelExpirationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>html.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTrainingServlet</servlet-name>
        <servlet-class>html.ManageTrainingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQtoDriverServlet</servlet-name>
        <servlet-class>html.AddQtoDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItoDriver</servlet-name>
        <servlet-class>html.AddItoDriver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDriverServlet</servlet-name>
        <url-pattern>/CreateDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTrainingServlet</servlet-name>
        <url-pattern>/CreateTrainingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQualificationServlet</servlet-name>
        <url-pattern>/CreateQualificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateIncidentServlet</servlet-name>
        <url-pattern>/CreateIncidentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDriverServlet</servlet-name>
        <url-pattern>/EditDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQualificationServlet</servlet-name>
        <url-pattern>/EditQualificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTrainingServlet</servlet-name>
        <url-pattern>/EditTrainingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <url-pattern>/DeleteDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTrainingServlet</servlet-name>
        <url-pattern>/DeleteTrainingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQualificationServlet</servlet-name>
        <url-pattern>/DeleteQualificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDriverServlet</servlet-name>
        <url-pattern>/SearchDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelExpirationServlet</servlet-name>
        <url-pattern>/PanelExpirationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/ScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTrainingServlet</servlet-name>
        <url-pattern>/ManageTrainingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQtoDriverServlet</servlet-name>
        <url-pattern>/AddQtoDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItoDriver</servlet-name>
        <url-pattern>/AddItoDriver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
